<html>
  <head>
    <style>
      .container {
        margin: 4rem 6rem;
        text-align: center;
      }

      .box-img {
        display: flex;
        justify-content: center;
      }

      .img {
        height: 300px;
        overflow-y: hidden;
        border-radius: 50vw;
      }

      .info {
        display: flex;
        justify-content: center;
      }

      table {
        text-align: left;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="box-img">
        <div class="img">
          <img src="./my_profile.JPG" alt="my picture" height="400px" />
        </div>
      </div>
      <h1>My Profile</h1>
      <div class="info">
        <table>
          <tr>
            <td>Name:</td>
            <td>Tanasak Pusawatwong</td>
          </tr>
          <tr>
            <td>Nickname:</td>
            <td>Noon</td>
          </tr>
          <tr>
            <td>Age:</td>
            <td>20</td>
          </tr>
          <tr>
            <td>Faculty:</td>
            <td>Computer Engineer</td>
          </tr>
          <tr>
            <td>Graduation:</td>
            <td>Chulalongkorn University</td>
          </tr>
        </table>
      </div>
      <div style="text-align: left">
        <h3>Personal Information</h3>
        <p>
          &nbsp;&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Inventore dicta distinctio incidunt, vero est a quidem sequi nemo ea
          dolorem eius doloribus id error, sit amet. Perspiciatis itaque,
          accusantium magni, voluptates cupiditate est mollitia officia illum
          repudiandae ea enim deleniti voluptate. Obcaecati eum esse saepe
          architecto ea quasi in eos amet eaque omnis minus mollitia blanditiis
          laboriosam, pariatur iste quia exercitationem dolorem doloribus nihil
          consequatur voluptas eius quaerat non. Libero quae perspiciatis ipsam
          harum porro qui quidem minima tenetur temporibus, commodi, impedit
          optio quis accusamus nostrum neque dolorum ex cumque dolore? Obcaecati
          molestias, nobis ab illo eligendi earum facere officia?
        </p>
      </div>
    </div>
  </body>
</html>
